img{
    height: 326px;
    
}
body{
    background-color: rgb(41, 7, 176);
}
h1{
    background-color: rgb(6, 253, 15);
    color: rgb(3, 62, 62);
}
button{

    background-color: black;
    color: aqua;
}
label{
    color: rgb(3, 251, 251);
}
textarea{
    background-color: black;
    color: rgba(7, 250, 19, 0.897);
}
table{
    background-color: gold;
}
ul{
    color: silver;
}
h2{
    color: gold;
}